{% extends "myrestaurants/base.html" %}
{% load static %}
{% block content %}
<h1>
  {{ restaurant.name }}
  {% if user == restaurant.user %}
    <a class="btn btn-default btn-xs" href="{% url 'myrestaurants:restaurant_edit' restaurant.id %}">edit</a>
  {% endif %}
</h1>
<p>
  {{ restaurant.street }}, {{ restaurant.number }} {{ restaurant.zipcode }} {{ restaurant.city }} <br/>
  {{ restaurant.stateOfProvince }} ({{ restaurant.country }})
</p>

<h2>Dishes
  {% if user %}
    <a class="btn btn-default btn-xs" href="{% url 'myrestaurants:dish_create' restaurant.id %}">add</a>
  {% endif %}
</h2>
<table class="table">
  <tr>
    {% for img in "12345" %}
      <td>
        <img class="dish-image img-thumbnail" src="{% static 'media/akabeko.png' %}" alt="akabeko" width="180px"/>
        <!--<img class="dish-image img-thumbnail" src="media/akabeko.png" alt="akabeko" width="180px"/>-->
        <p>comment</p>
      </td>
    {% endfor %}
  </tr>
</table>

<ul>
  {% for dish in restaurant.dishes.all %}
    <li><a href="{% url 'myrestaurants:dish_detail' restaurant.id dish.id %}">
    {{ dish.name }}</a></li>
  {% empty %}<li>Sorry, no dishes for this restaurant yet.</li>
  {% endfor %}
</ul>

<h3>Reviews</h3>
<!--# Todo if文件数を取得する-->
{% if restaurant.restaurantreview_set.all != 0 %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rating</th>
        <th>Comment</th>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for review in restaurant.restaurantreview_set.all %}
      <tr>
        <td>{% if review.rating == 1%}{% bootstrap_icon "star" %}
        {% elif review.rating == 2%}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}
        {% elif review.rating == 3%}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}
        {% elif review.rating == 4%}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}
        {% elif review.rating == 5%}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% bootstrap_icon "star" %}{% endif %}</td>
        <td>{{ review.comment }}</td>
        <td>{{ review.user }}</td>
        <td>{{ review.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Please post the review.</p>
{% endif %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Add Review</h4>
  </div>
  <div class="panel-body">
    <form action="{% url 'myrestaurants:review_create' restaurant.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        Message: <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
      </div>
      <div class="form-group">
        <h5>Rating:</h5>
        {% for rate in RATING_CHOICES %}
          <input class="form-control" type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
          <label class="label-control" for="rating{{ forloop.counter }}">{{ rate.1 }} star{{rate.0|pluralize }}</label>
          <br/>
        {% endfor %}
      </div>
      <div class="form-group">
        <input type="submit" value="Review" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}

Created by {{ restaurant.user }} on {{ restaurant.date }}

{% endblock %}